# Student Performance Dataset

https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset

Credit goes to the creator/provider of the Dataset, Rabie El Kharoua.

This work is licensed under the specific Creative Commons license, CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/).

No changes where made on the data itself.

## Import Libraries

In [1]:
from scipy import stats
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, root_mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import seaborn as sns
import tensorflow as tf

/Users/davidgonzalez/Documents/computer-science/.data-science/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

# Read CSV

In [2]:
filepath = "student_performance_data.csv"
df = pd.read_csv(filepath)

In [3]:
display(df)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

# Descriptive Analytics

In [4]:
df.shape

(2392, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [6]:
df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

# Data Normalization

In [7]:
normalized_df = df.copy()

for col in df.columns:
    normalized_df[col] = normalized_df[col]/normalized_df[col].max()

display(normalized_df)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,0.295106,0.944444,1.0,0.000000,0.50,0.992774,0.241379,1.0,0.50,0.0,0.0,1.0,0.0,0.732299,0.50
1,0.295401,1.000000,0.0,0.000000,0.25,0.771283,0.000000,0.0,0.25,0.0,0.0,0.0,0.0,0.760729,0.25
2,0.295696,0.833333,0.0,0.666667,0.75,0.210759,0.896552,0.0,0.50,0.0,0.0,0.0,0.0,0.028151,1.00
3,0.295991,0.944444,1.0,0.000000,0.75,0.501991,0.482759,0.0,0.75,1.0,0.0,0.0,0.0,0.513555,0.75
4,0.296285,0.944444,1.0,0.000000,0.50,0.233881,0.586207,1.0,0.75,0.0,0.0,0.0,0.0,0.322015,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,0.998821,1.000000,1.0,0.000000,0.75,0.534613,0.068966,0.0,1.00,1.0,0.0,0.0,0.0,0.863877,0.00
2388,0.999116,0.944444,0.0,0.000000,0.25,0.379577,0.137931,1.0,1.00,0.0,1.0,0.0,0.0,0.819787,1.00
2389,0.999410,0.888889,1.0,0.000000,0.50,0.340648,0.689655,0.0,0.50,0.0,0.0,0.0,1.0,0.285583,0.50
2390,0.999705,0.888889,1.0,0.333333,0.00,0.621513,0.586207,0.0,0.50,0.0,1.0,1.0,0.0,0.450824,0.25
2391,1.000000,0.888889,1.0,0.000000,0.50,0.891972,0.448276,0.0,0.50,0.0,0.0,0.0,1.0,0.535003,0.25

# Measure Correlations

In [8]:
corr = normalized_df.corr()

for col in df.columns:
    output = corr[[col]].sort_values(by=col, axis=0, ascending=False).head()
    display(output)
    output = corr[[col]].sort_values(by=col, axis=0, ascending=False).tail()
    display(output)

                 StudentID
StudentID         1.000000
StudyTimeWeekly   0.026976
Absences          0.014841
Volunteering      0.008011
ParentalSupport   0.003016

            StudentID
Ethnicity   -0.012990
Gender      -0.014625
Sports      -0.020703
Age         -0.042255
GradeClass  -0.098500

                        Age
Age                1.000000
Gender             0.044895
ParentalSupport    0.033197
ParentalEducation  0.025099
Volunteering       0.013074

                      Age
Tutoring        -0.012076
Extracurricular -0.025061
Ethnicity       -0.028473
StudentID       -0.042255
Sports          -0.046320

              Gender
Gender      1.000000
Age         0.044895
GradeClass  0.022998
Absences    0.021479
Ethnicity   0.016010

                   Gender
Extracurricular -0.005964
Sports          -0.008897
GPA             -0.013360
StudentID       -0.014625
Tutoring        -0.031597

                   Ethnicity
Ethnicity           1.000000
ParentalEducation   0.033595
GPA                 0.027760
ParentalSupport     0.020922
Gender              0.016010

            Ethnicity
Music       -0.014627
Tutoring    -0.017440
GradeClass  -0.023326
Absences    -0.025712
Age         -0.028473

                   ParentalEducation
ParentalEducation           1.000000
GradeClass                  0.041031
Music                       0.039439
Absences                    0.036518
Ethnicity                   0.033595

                 ParentalEducation
StudentID                -0.002307
StudyTimeWeekly          -0.011051
Tutoring                 -0.017340
ParentalSupport          -0.017463
GPA                      -0.035854

                 StudyTimeWeekly
StudyTimeWeekly         1.000000
GPA                     0.179275
ParentalSupport         0.035800
Tutoring                0.028930
StudentID               0.026976

                   StudyTimeWeekly
Age                      -0.006800
ParentalEducation        -0.011051
Volunteering             -0.016604
Extracurricular          -0.022860
GradeClass               -0.134131

                   Absences
Absences           1.000000
GradeClass         0.728633
Sports             0.041454
ParentalEducation  0.036518
Gender             0.021479

              Absences
Age          -0.011511
Tutoring     -0.015534
Volunteering -0.018528
Ethnicity    -0.025712
GPA          -0.919314

                 Tutoring
Tutoring         1.000000
GPA              0.145119
StudyTimeWeekly  0.028930
Sports           0.006278
Extracurricular  0.004865

                   Tutoring
ParentalEducation -0.017340
Ethnicity         -0.017440
Gender            -0.031597
Volunteering      -0.050898
GradeClass        -0.111695

                 ParentalSupport
ParentalSupport         1.000000
GPA                     0.190774
StudyTimeWeekly         0.035800
Music                   0.035122
Age                     0.033197

                   ParentalSupport
Volunteering             -0.006036
Sports                   -0.006176
Extracurricular          -0.008381
ParentalEducation        -0.017463
GradeClass               -0.136823

                   Extracurricular
Extracurricular           1.000000
GPA                       0.094078
ParentalEducation         0.007479
Tutoring                  0.004865
Absences                  0.000360

                 Extracurricular
Sports                 -0.011820
Music                  -0.014191
StudyTimeWeekly        -0.022860
Age                    -0.025061
GradeClass             -0.069733

                   Sports
Sports           1.000000
GPA              0.057859
Absences         0.041454
StudyTimeWeekly  0.006836
Tutoring         0.006278

                   Sports
Extracurricular -0.011820
Music           -0.020474
StudentID       -0.020703
GradeClass      -0.026654
Age             -0.046320

                      Music
Music              1.000000
GPA                0.073318
ParentalEducation  0.039439
ParentalSupport    0.035122
Volunteering       0.017224

                    Music
Tutoring        -0.011385
Extracurricular -0.014191
Ethnicity       -0.014627
Sports          -0.020474
GradeClass      -0.036065

              Volunteering
Volunteering      1.000000
Music             0.017224
Ethnicity         0.013468
GradeClass        0.013156
Age               0.013074

                 Volunteering
ParentalSupport     -0.006036
Extracurricular     -0.007427
StudyTimeWeekly     -0.016604
Absences            -0.018528
Tutoring            -0.050898

                      GPA
GPA              1.000000
ParentalSupport  0.190774
StudyTimeWeekly  0.179275
Tutoring         0.145119
Extracurricular  0.094078

                        GPA
StudentID         -0.002697
Gender            -0.013360
ParentalEducation -0.035854
GradeClass        -0.782835
Absences          -0.919314

                   GradeClass
GradeClass           1.000000
Absences             0.728633
ParentalEducation    0.041031
Gender               0.022998
Volunteering         0.013156

                 GradeClass
StudentID         -0.098500
Tutoring          -0.111695
StudyTimeWeekly   -0.134131
ParentalSupport   -0.136823
GPA               -0.782835

In [9]:
for param in df.drop('GradeClass', axis=1).columns:
    pearson_coef, p_value = stats.pearsonr(df[param], df['GradeClass'])
    print(param)
    print(f'The Pearson Correlation Coefficient for {param} is {pearson_coef} with a P-value of P = {p_value}')

StudentID
The Pearson Correlation Coefficient for StudentID is -0.09849989295454192 with a P-value of P = 1.388395326544007e-06
Age
The Pearson Correlation Coefficient for Age is -0.006250264255547962 with a P-value of P = 0.7599613017314245
Gender
The Pearson Correlation Coefficient for Gender is 0.022997762354162836 with a P-value of P = 0.26087004331186564
Ethnicity
The Pearson Correlation Coefficient for Ethnicity is -0.02332582157243182 with a P-value of P = 0.2541280553087374
ParentalEducation
The Pearson Correlation Coefficient for ParentalEducation is 0.041031287770300205 with a P-value of P = 0.044796807379303
StudyTimeWeekly
The Pearson Correlation Coefficient for StudyTimeWeekly is -0.13413050292456996 with a P-value of P = 4.5056399779171405e-11
Absences
The Pearson Correlation Coefficient for Absences is 0.728632710454859 with a P-value of P = 0.0
Tutoring
The Pearson Correlation Coefficient for Tutoring is -0.11169457883793804 with a P-value of P = 4.324570869955078e-08
ParentalSupport
The Pearson Correlation Coefficient for ParentalSupport is -0.13682259418000142 with a P-value of P = 1.8190373141620368e-11
Extracurricular
The Pearson Correlation Coefficient for Extracurricular is -0.06973324432482053 with a P-value of P = 0.0006427758969464514
Sports
The Pearson Correlation Coefficient for Sports is -0.026654303532759407 with a P-value of P = 0.19251985407465425
Music
The Pearson Correlation Coefficient for Music is -0.0360650376665443 with a P-value of P = 0.07781226280426512
Volunteering
The Pearson Correlation Coefficient for Volunteering is 0.01315601963626492 with a P-value of P = 0.520141613016979
GPA
The Pearson Correlation Coefficient for GPA is -0.7828354775754288 with a P-value of P = 0.0

# Data Processing/Feature Engineering

In [10]:
X = normalized_df.drop('GradeClass', axis=1)
y = normalized_df[['GradeClass']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Statistical Modeling

In [11]:
reg = LinearRegression().fit(X_train, y_train)

In [12]:
predictions_linear_regression = reg.predict(X_test)

# Ensemble Learning

In [13]:
base_models = [
    ('lr', LinearRegression()),
    ('svr', SVR(kernel='rbf', C=1.0, epsilon=0.2)),
    ('dt', DecisionTreeRegressor(random_state=42))
]

meta_model = LinearRegression()

stacking_model = StackingRegressor(estimators=base_models, final_estimator=meta_model)

stacking_model.fit(X_train, y_train)

predictions_stacking = stacking_model.predict(X_test)

/Users/davidgonzalez/Documents/computer-science/.data-science/lib/python3.9/site-packages/sklearn/ensemble/_stacking.py:970: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Neural Networks

In [14]:
input_shape = X_test.shape[1]
output_shape = y_test.shape[1]

In [15]:
model = Sequential()
model.add(Input(shape=(input_shape,)))
model.add(Dense(output_shape))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=[
    tf.keras.metrics.MeanAbsoluteError(),
    tf.keras.metrics.MeanSquaredError(),
    tf.keras.metrics.RootMeanSquaredError(),
    tf.keras.metrics.R2Score()
    ])

model.summary()

model.fit(X_train, y_train, epochs=100, batch_size=10, verbose=1)

predictions_neural_networks = model.predict(X_test)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 1)              │            15 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 15 (60.00 B)

 Trainable params: 15 (60.00 B)

 Non-trainable params: 0 (0.00 B)

Epoch 1/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - loss: 0.3935 - mean_absolute_error: 0.5167 - mean_squared_error: 0.3935 - r2_score: -3.0340 - root_mean_squared_error: 0.6256
Epoch 2/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.2226 - mean_absolute_error: 0.3813 - mean_squared_error: 0.2226 - r2_score: -1.1830 - root_mean_squared_error: 0.4715
Epoch 3/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.1614 - mean_absolute_error: 0.3198 - mean_squared_error: 0.1614 - r2_score: -0.6751 - root_mean_squared_error: 0.4015
Epoch 4/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.1150 - mean_absolute_error: 0.2695 - mean_squared_error: 0.1150 - r2_score: -0.2506 - root_mean_squared_error: 0.3389
Epoch 5/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0931 - mean_absolute_error: 0.2385 - mean_squared_error: 0.0931 - r2_score: 0.0403 - root_mean_squared_error: 0.3048
Epoch 6/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.0760 - mean_absolute_error: 0.2094 - mean_squared_error: 0.0760 - r2_score: 0.1889 - root_mean_squared_error: 0.2755
Epoch 7/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0670 - mean_absolute_error: 0.1944 - mean_squared_error: 0.0670 - r2_score: 0.2847 - root_mean_squared_error: 0.2588
Epoch 8/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0566 - mean_absolute_error: 0.1787 - mean_squared_error: 0.0566 - r2_score: 0.3874 - root_mean_squared_error: 0.2379
Epoch 9/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 251us/step - loss: 0.0536 - mean_absolute_error: 0.1702 - mean_squared_error: 0.0536 - r2_score: 0.4594 - root_mean_squared_error: 0.2312
Epoch 10/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - loss: 0.0518 - mean_absolute_error: 0.1648 - mean_squared_error: 0.0518 - r2_score: 0.4716 - root_mean_squared_error: 0.2274
Epoch 11/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 252us/step - loss: 0.0444 - mean_absolute_error: 0.1530 - mean_squared_error: 0.0444 - r2_score: 0.5107 - root_mean_squared_error: 0.2104
Epoch 12/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0450 - mean_absolute_error: 0.1518 - mean_squared_error: 0.0450 - r2_score: 0.4959 - root_mean_squared_error: 0.2119
Epoch 13/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0403 - mean_absolute_error: 0.1456 - mean_squared_error: 0.0403 - r2_score: 0.5591 - root_mean_squared_error: 0.2004
Epoch 14/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0422 - mean_absolute_error: 0.1493 - mean_squared_error: 0.0422 - r2_score: 0.5345 - root_mean_squared_error: 0.2053
Epoch 15/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0384 - mean_absolute_error: 0.1434 - mean_squared_error: 0.0384 - r2_score: 0.5944 - root_mean_squared_error: 0.1957
Epoch 16/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 248us/step - loss: 0.0392 - mean_absolute_error: 0.1441 - mean_squared_error: 0.0392 - r2_score: 0.5763 - root_mean_squared_error: 0.1977
Epoch 17/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 248us/step - loss: 0.0411 - mean_absolute_error: 0.1453 - mean_squared_error: 0.0411 - r2_score: 0.5886 - root_mean_squared_error: 0.2023
Epoch 18/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 248us/step - loss: 0.0433 - mean_absolute_error: 0.1485 - mean_squared_error: 0.0433 - r2_score: 0.5314 - root_mean_squared_error: 0.2078
Epoch 19/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 248us/step - loss: 0.0390 - mean_absolute_error: 0.1439 - mean_squared_error: 0.0390 - r2_score: 0.5968 - root_mean_squared_error: 0.1973
Epoch 20/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0396 - mean_absolute_error: 0.1438 - mean_squared_error: 0.0396 - r2_score: 0.5970 - root_mean_squared_error: 0.1987
Epoch 21/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0375 - mean_absolute_error: 0.1409 - mean_squared_error: 0.0375 - r2_score: 0.5920 - root_mean_squared_error: 0.1933
Epoch 22/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0387 - mean_absolute_error: 0.1411 - mean_squared_error: 0.0387 - r2_score: 0.5732 - root_mean_squared_error: 0.1964
Epoch 23/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0427 - mean_absolute_error: 0.1497 - mean_squared_error: 0.0427 - r2_score: 0.5650 - root_mean_squared_error: 0.2065
Epoch 24/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0408 - mean_absolute_error: 0.1442 - mean_squared_error: 0.0408 - r2_score: 0.5749 - root_mean_squared_error: 0.2019
Epoch 25/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 247us/step - loss: 0.0387 - mean_absolute_error: 0.1431 - mean_squared_error: 0.0387 - r2_score: 0.5831 - root_mean_squared_error: 0.1966
Epoch 26/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 247us/step - loss: 0.0384 - mean_absolute_error: 0.1447 - mean_squared_error: 0.0384 - r2_score: 0.6032 - root_mean_squared_error: 0.1958
Epoch 27/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0380 - mean_absolute_error: 0.1422 - mean_squared_error: 0.0380 - r2_score: 0.5817 - root_mean_squared_error: 0.1947
Epoch 28/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0393 - mean_absolute_error: 0.1434 - mean_squared_error: 0.0393 - r2_score: 0.5872 - root_mean_squared_error: 0.1979
Epoch 29/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0396 - mean_absolute_error: 0.1450 - mean_squared_error: 0.0396 - r2_score: 0.5988 - root_mean_squared_error: 0.1987
Epoch 30/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.0389 - mean_absolute_error: 0.1439 - mean_squared_error: 0.0389 - r2_score: 0.6026 - root_mean_squared_error: 0.1971
Epoch 31/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0340 - mean_absolute_error: 0.1355 - mean_squared_error: 0.0340 - r2_score: 0.6134 - root_mean_squared_error: 0.1840
Epoch 32/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0372 - mean_absolute_error: 0.1436 - mean_squared_error: 0.0372 - r2_score: 0.5852 - root_mean_squared_error: 0.1928
Epoch 33/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0393 - mean_absolute_error: 0.1443 - mean_squared_error: 0.0393 - r2_score: 0.5886 - root_mean_squared_error: 0.1980
Epoch 34/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0378 - mean_absolute_error: 0.1432 - mean_squared_error: 0.0378 - r2_score: 0.5935 - root_mean_squared_error: 0.1944
Epoch 35/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0409 - mean_absolute_error: 0.1489 - mean_squared_error: 0.0409 - r2_score: 0.5648 - root_mean_squared_error: 0.2018
Epoch 36/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0370 - mean_absolute_error: 0.1419 - mean_squared_error: 0.0370 - r2_score: 0.6153 - root_mean_squared_error: 0.1923
Epoch 37/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0391 - mean_absolute_error: 0.1437 - mean_squared_error: 0.0391 - r2_score: 0.5876 - root_mean_squared_error: 0.1975
Epoch 38/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0363 - mean_absolute_error: 0.1406 - mean_squared_error: 0.0363 - r2_score: 0.6081 - root_mean_squared_error: 0.1903
Epoch 39/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0390 - mean_absolute_error: 0.1443 - mean_squared_error: 0.0390 - r2_score: 0.5892 - root_mean_squared_error: 0.1972
Epoch 40/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0372 - mean_absolute_error: 0.1419 - mean_squared_error: 0.0372 - r2_score: 0.5982 - root_mean_squared_error: 0.1926
Epoch 41/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0396 - mean_absolute_error: 0.1423 - mean_squared_error: 0.0396 - r2_score: 0.5956 - root_mean_squared_error: 0.1985
Epoch 42/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0376 - mean_absolute_error: 0.1429 - mean_squared_error: 0.0376 - r2_score: 0.6083 - root_mean_squared_error: 0.1939
Epoch 43/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0403 - mean_absolute_error: 0.1433 - mean_squared_error: 0.0403 - r2_score: 0.5857 - root_mean_squared_error: 0.2006
Epoch 44/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0416 - mean_absolute_error: 0.1484 - mean_squared_error: 0.0416 - r2_score: 0.5839 - root_mean_squared_error: 0.2039
Epoch 45/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0357 - mean_absolute_error: 0.1406 - mean_squared_error: 0.0357 - r2_score: 0.6286 - root_mean_squared_error: 0.1888
Epoch 46/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0360 - mean_absolute_error: 0.1388 - mean_squared_error: 0.0360 - r2_score: 0.5963 - root_mean_squared_error: 0.1896
Epoch 47/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0390 - mean_absolute_error: 0.1423 - mean_squared_error: 0.0390 - r2_score: 0.5922 - root_mean_squared_error: 0.1973
Epoch 48/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0390 - mean_absolute_error: 0.1439 - mean_squared_error: 0.0390 - r2_score: 0.5985 - root_mean_squared_error: 0.1974
Epoch 49/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0398 - mean_absolute_error: 0.1433 - mean_squared_error: 0.0398 - r2_score: 0.5783 - root_mean_squared_error: 0.1993
Epoch 50/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0336 - mean_absolute_error: 0.1382 - mean_squared_error: 0.0336 - r2_score: 0.6394 - root_mean_squared_error: 0.1830
Epoch 51/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0389 - mean_absolute_error: 0.1433 - mean_squared_error: 0.0389 - r2_score: 0.6066 - root_mean_squared_error: 0.1970
Epoch 52/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0364 - mean_absolute_error: 0.1415 - mean_squared_error: 0.0364 - r2_score: 0.6220 - root_mean_squared_error: 0.1908
Epoch 53/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0372 - mean_absolute_error: 0.1403 - mean_squared_error: 0.0372 - r2_score: 0.6071 - root_mean_squared_error: 0.1927
Epoch 54/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0418 - mean_absolute_error: 0.1495 - mean_squared_error: 0.0418 - r2_score: 0.5888 - root_mean_squared_error: 0.2040
Epoch 55/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0346 - mean_absolute_error: 0.1383 - mean_squared_error: 0.0346 - r2_score: 0.6394 - root_mean_squared_error: 0.1859
Epoch 56/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0372 - mean_absolute_error: 0.1416 - mean_squared_error: 0.0372 - r2_score: 0.5892 - root_mean_squared_error: 0.1926
Epoch 57/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0473 - mean_absolute_error: 0.1513 - mean_squared_error: 0.0473 - r2_score: 0.5224 - root_mean_squared_error: 0.2161
Epoch 58/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 252us/step - loss: 0.0370 - mean_absolute_error: 0.1417 - mean_squared_error: 0.0370 - r2_score: 0.6040 - root_mean_squared_error: 0.1920
Epoch 59/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0363 - mean_absolute_error: 0.1425 - mean_squared_error: 0.0363 - r2_score: 0.6229 - root_mean_squared_error: 0.1905
Epoch 60/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0384 - mean_absolute_error: 0.1420 - mean_squared_error: 0.0384 - r2_score: 0.5985 - root_mean_squared_error: 0.1958
Epoch 61/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - loss: 0.0396 - mean_absolute_error: 0.1437 - mean_squared_error: 0.0396 - r2_score: 0.5892 - root_mean_squared_error: 0.1987
Epoch 62/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0400 - mean_absolute_error: 0.1451 - mean_squared_error: 0.0400 - r2_score: 0.5984 - root_mean_squared_error: 0.1996
Epoch 63/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0386 - mean_absolute_error: 0.1448 - mean_squared_error: 0.0386 - r2_score: 0.6006 - root_mean_squared_error: 0.1963
Epoch 64/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0391 - mean_absolute_error: 0.1423 - mean_squared_error: 0.0391 - r2_score: 0.5839 - root_mean_squared_error: 0.1977
Epoch 65/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0388 - mean_absolute_error: 0.1440 - mean_squared_error: 0.0388 - r2_score: 0.6020 - root_mean_squared_error: 0.1967
Epoch 66/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0403 - mean_absolute_error: 0.1458 - mean_squared_error: 0.0403 - r2_score: 0.5928 - root_mean_squared_error: 0.2007
Epoch 67/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0363 - mean_absolute_error: 0.1398 - mean_squared_error: 0.0363 - r2_score: 0.6156 - root_mean_squared_error: 0.1902
Epoch 68/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0388 - mean_absolute_error: 0.1444 - mean_squared_error: 0.0388 - r2_score: 0.5896 - root_mean_squared_error: 0.1967
Epoch 69/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0364 - mean_absolute_error: 0.1405 - mean_squared_error: 0.0364 - r2_score: 0.6073 - root_mean_squared_error: 0.1907
Epoch 70/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0386 - mean_absolute_error: 0.1435 - mean_squared_error: 0.0386 - r2_score: 0.5984 - root_mean_squared_error: 0.1964
Epoch 71/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0387 - mean_absolute_error: 0.1401 - mean_squared_error: 0.0387 - r2_score: 0.5818 - root_mean_squared_error: 0.1963
Epoch 72/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0393 - mean_absolute_error: 0.1453 - mean_squared_error: 0.0393 - r2_score: 0.5904 - root_mean_squared_error: 0.1980
Epoch 73/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0371 - mean_absolute_error: 0.1427 - mean_squared_error: 0.0371 - r2_score: 0.6022 - root_mean_squared_error: 0.1924
Epoch 74/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0403 - mean_absolute_error: 0.1443 - mean_squared_error: 0.0403 - r2_score: 0.6020 - root_mean_squared_error: 0.2005
Epoch 75/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0396 - mean_absolute_error: 0.1448 - mean_squared_error: 0.0396 - r2_score: 0.5986 - root_mean_squared_error: 0.1983
Epoch 76/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0404 - mean_absolute_error: 0.1475 - mean_squared_error: 0.0404 - r2_score: 0.5960 - root_mean_squared_error: 0.2008
Epoch 77/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 237us/step - loss: 0.0386 - mean_absolute_error: 0.1439 - mean_squared_error: 0.0386 - r2_score: 0.5970 - root_mean_squared_error: 0.1965
Epoch 78/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0374 - mean_absolute_error: 0.1409 - mean_squared_error: 0.0374 - r2_score: 0.6143 - root_mean_squared_error: 0.1934
Epoch 79/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0392 - mean_absolute_error: 0.1462 - mean_squared_error: 0.0392 - r2_score: 0.5846 - root_mean_squared_error: 0.1977
Epoch 80/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0374 - mean_absolute_error: 0.1428 - mean_squared_error: 0.0374 - r2_score: 0.5877 - root_mean_squared_error: 0.1933
Epoch 81/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.0352 - mean_absolute_error: 0.1385 - mean_squared_error: 0.0352 - r2_score: 0.6131 - root_mean_squared_error: 0.1874
Epoch 82/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 244us/step - loss: 0.0356 - mean_absolute_error: 0.1397 - mean_squared_error: 0.0356 - r2_score: 0.6342 - root_mean_squared_error: 0.1885
Epoch 83/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0391 - mean_absolute_error: 0.1411 - mean_squared_error: 0.0391 - r2_score: 0.5942 - root_mean_squared_error: 0.1972
Epoch 84/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0380 - mean_absolute_error: 0.1421 - mean_squared_error: 0.0380 - r2_score: 0.5869 - root_mean_squared_error: 0.1940
Epoch 85/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0365 - mean_absolute_error: 0.1400 - mean_squared_error: 0.0365 - r2_score: 0.6062 - root_mean_squared_error: 0.1908
Epoch 86/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0382 - mean_absolute_error: 0.1410 - mean_squared_error: 0.0382 - r2_score: 0.6022 - root_mean_squared_error: 0.1953
Epoch 87/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 245us/step - loss: 0.0353 - mean_absolute_error: 0.1377 - mean_squared_error: 0.0353 - r2_score: 0.6221 - root_mean_squared_error: 0.1876
Epoch 88/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0361 - mean_absolute_error: 0.1406 - mean_squared_error: 0.0361 - r2_score: 0.6024 - root_mean_squared_error: 0.1900
Epoch 89/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 255us/step - loss: 0.0378 - mean_absolute_error: 0.1421 - mean_squared_error: 0.0378 - r2_score: 0.6075 - root_mean_squared_error: 0.1943
Epoch 90/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0374 - mean_absolute_error: 0.1396 - mean_squared_error: 0.0374 - r2_score: 0.5965 - root_mean_squared_error: 0.1932
Epoch 91/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0385 - mean_absolute_error: 0.1426 - mean_squared_error: 0.0385 - r2_score: 0.5895 - root_mean_squared_error: 0.1962
Epoch 92/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0354 - mean_absolute_error: 0.1394 - mean_squared_error: 0.0354 - r2_score: 0.6051 - root_mean_squared_error: 0.1880
Epoch 93/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 243us/step - loss: 0.0401 - mean_absolute_error: 0.1442 - mean_squared_error: 0.0401 - r2_score: 0.5767 - root_mean_squared_error: 0.2002
Epoch 94/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 242us/step - loss: 0.0417 - mean_absolute_error: 0.1490 - mean_squared_error: 0.0417 - r2_score: 0.5883 - root_mean_squared_error: 0.2039
Epoch 95/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0372 - mean_absolute_error: 0.1396 - mean_squared_error: 0.0372 - r2_score: 0.6215 - root_mean_squared_error: 0.1928
Epoch 96/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 241us/step - loss: 0.0407 - mean_absolute_error: 0.1450 - mean_squared_error: 0.0407 - r2_score: 0.5758 - root_mean_squared_error: 0.2014
Epoch 97/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 238us/step - loss: 0.0386 - mean_absolute_error: 0.1425 - mean_squared_error: 0.0386 - r2_score: 0.6054 - root_mean_squared_error: 0.1964
Epoch 98/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 239us/step - loss: 0.0387 - mean_absolute_error: 0.1422 - mean_squared_error: 0.0387 - r2_score: 0.6004 - root_mean_squared_error: 0.1964
Epoch 99/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 240us/step - loss: 0.0390 - mean_absolute_error: 0.1432 - mean_squared_error: 0.0390 - r2_score: 0.5810 - root_mean_squared_error: 0.1973
Epoch 100/100
192/192 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - loss: 0.0356 - mean_absolute_error: 0.1391 - mean_squared_error: 0.0356 - r2_score: 0.6142 - root_mean_squared_error: 0.1884
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step

# Evaluation

In [16]:
get_percentage = lambda x : (x * 100)

## Statistical Modeling

In [17]:
linear_mae = mean_absolute_error(y_test, predictions_linear_regression)
linear_mse = mean_squared_error(y_test, predictions_linear_regression)
linear_rmse = root_mean_squared_error(y_test, predictions_linear_regression)
linear_r2_score = r2_score(y_test, predictions_linear_regression)

statistical_modeling_metrics = [linear_mae, linear_mse, linear_rmse, linear_r2_score]

In [18]:
linear_mae = get_percentage(linear_mae)
linear_mse = get_percentage(linear_mse)
linear_rmse = get_percentage(linear_rmse)
linear_r2_score = get_percentage(linear_r2_score)

In [19]:
print('Mean Absolute Error: %.2f%%' % linear_mae)
print('Mean Squared Error: %.2f%%' % linear_mse)
print('Root Mean Absolute Error: %.2f%%' % linear_rmse)
print('R^2 Score: %.2f%%' % linear_r2_score)

Mean Absolute Error: 13.59%
Mean Squared Error: 3.32%
Root Mean Absolute Error: 18.21%
R^2 Score: 64.49%

In [20]:
predictions_linear_regression = pd.DataFrame(predictions_linear_regression, columns=['Predictions'])
display(predictions_linear_regression)

     Predictions
0       0.927324
1       0.492300
2       0.668899
3       0.284843
4       1.197530
..           ...
474     0.851363
475     0.728665
476     0.639770
477     0.481474
478     0.992239

[479 rows x 1 columns]

In [21]:
predictions_linear_regression.describe()

       Predictions
count   479.000000
mean      0.738128
std       0.242047
min       0.176860
25%       0.545652
50%       0.735456
75%       0.918261
max       1.297307

## Ensemble Learning

In [22]:
ensemble_mae = mean_absolute_error(y_test, predictions_stacking)
ensemble_mse = mean_squared_error(y_test, predictions_stacking)
ensemble_rmse = root_mean_squared_error(y_test, predictions_stacking)
ensemble_r2_score = r2_score(y_test, predictions_stacking)

ensemble_metrics = [ensemble_mae, ensemble_mse, ensemble_rmse, ensemble_r2_score]

In [23]:
ensemble_mae = get_percentage(ensemble_mae)
ensemble_mse = get_percentage(ensemble_mse)
ensemble_rmse = get_percentage(ensemble_rmse)
ensemble_r2_score = get_percentage(ensemble_r2_score)

In [24]:
print('Mean Absolute Error: %.2f%%' % ensemble_mae)
print('Mean Squared Error: %.2f%%' % ensemble_mse)
print('Root Mean Absolute Error: %.2f%%' % ensemble_rmse)
print('R^2 Score: %.2f%%' % ensemble_r2_score)

Mean Absolute Error: 6.92%
Mean Squared Error: 1.95%
Root Mean Absolute Error: 13.96%
R^2 Score: 79.14%

## Neural Networks

In [25]:
evaluation = model.evaluate(X_test, y_test)

15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 410us/step - loss: 0.0355 - mean_absolute_error: 0.1409 - mean_squared_error: 0.0355 - r2_score: 0.6391 - root_mean_squared_error: 0.1882

In [26]:
tf_mae = evaluation[1]
tf_mse = evaluation[2]
tf_rmse = evaluation[3]
tf_r2_score = evaluation[4]

neural_networks_metrics = [tf_mae, tf_mse, tf_rmse, tf_r2_score]

In [27]:
tf_mae = get_percentage(tf_mae)
tf_mse = get_percentage(tf_mse)
tf_rmse = get_percentage(tf_rmse)
tf_r2_score = get_percentage(tf_r2_score)

In [28]:
print('Mean Absolute Error: %.2f%%' % tf_mae)
print('Mean Squared Error: %.2f%%' % tf_mse)
print('Root Mean Absolute Error: %.2f%%' % tf_rmse)
print('R^2 Score: %.2f%%' % tf_r2_score)

Mean Absolute Error: 13.78%
Mean Squared Error: 3.47%
Root Mean Absolute Error: 18.64%
R^2 Score: 62.80%

In [29]:
predictions_neural_networks = pd.DataFrame(predictions_neural_networks, columns=['Predictions'])
display(predictions_neural_networks)

     Predictions
0       0.899955
1       0.511583
2       0.686225
3       0.310639
4       1.213642
..           ...
474     0.836257
475     0.747420
476     0.602677
477     0.550544
478     1.020851

[479 rows x 1 columns]

In [30]:
predictions_neural_networks.describe()

       Predictions
count   479.000000
mean      0.737342
std       0.238801
min       0.157340
25%       0.549661
50%       0.730220
75%       0.927060
max       1.241347

# Evaluation Comparison

In [31]:
metrics_dict = {'Linear Regression':statistical_modeling_metrics, 'Ensemble Learning (Stacking)':ensemble_metrics, 'Neural Networks':neural_networks_metrics}
metrics_df = pd.DataFrame.from_dict(metrics_dict)
display(metrics_df)

   Linear Regression  Ensemble Learning (Stacking)  Neural Networks
0           0.135896                      0.069219         0.137787
1           0.033157                      0.019482         0.034739
2           0.182091                      0.139577         0.186385
3           0.644942                      0.791382         0.627997

In [32]:
print(metrics_df.iloc[0, :].idxmin(axis=0))
print(metrics_df.iloc[1, :].idxmin(axis=0))
print(metrics_df.iloc[2, :].idxmin(axis=0))

Ensemble Learning (Stacking)
Ensemble Learning (Stacking)
Ensemble Learning (Stacking)

In [33]:
print(metrics_df.iloc[3, :].idxmax(axis=0))

Ensemble Learning (Stacking)

# Predicted vs Real Values

In [44]:
index = random.randint(0, len(X_test.index.to_list()))

row = X_test.iloc[[index]]

display(pd.DataFrame(df.iloc[index]).transpose())

final_predicted = stacking_model.predict(row)
print('Predicted Value: ' + str(final_predicted[0] * max(df['GradeClass'])))
print('Real Value: ' + str(y_test.iloc[index][0] * max(df['GradeClass'])))

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
94,1095.0,16.0,1.0,0.0,1.0,6.414243,4.0,0.0,1.0,1.0,1.0,0.0,0.0,2.708472,2.0

Predicted Value: 3.729342348158958
Real Value: 2.0

/var/folders/09/_3cvgdbn0k931thmhy93h3_r0000gn/T/ipykernel_87355/3425703781.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('Real Value: ' + str(y_test.iloc[index][0] * max(df['GradeClass'])))

# Conclusion

The best performing model is the Ensemble Learning model (Stacking Regressor).